@tailwind base;
@tailwind components;
@tailwind utilities;
.userSection{
    /* border: 2px solid black ; */
    width: 50%;
    margin: auto;
    padding: 10px;
}
.userList{
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height:90vh ;
    width: 30%;
    /* padding: 10px; */
}