@tailwind base;
@tailwind components;
@tailwind utilities;
*{
   
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border: 2px solid black;
    padding: 40px 20px  ;
    background-color: rgba(128, 128, 128, 0.832);
    box-shadow: 2px 2px 12px black;
    text-align: center;
}
.check-box input{
    margin: 10px;
}
#delete{
    position: absolute;;
    right: 10px;
    top: 6px;
}